.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  /* background-color: rgb(170, 19, 19); */
  margin-top: 0%;
  padding: 2%;
}

.navbarLinks {
  background-color: black;
  color: white;
  margin: 15px;
  padding: 5px;
  font-weight: 700;
  text-decoration: none;
}

.navbarLinks:hover {
  color: red;
  font-style: italic;
}

.mainContent {
  text-align: center;
}

p {
  margin-left: 20%;
  margin-right: 20%;
}

#logo {
  width: 400px;
}

.contactPage {
  text-align: center;
}

.landingAndFooter {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInputs {
  /* width: 20%; */
}

.cityStateZip {
  display: flex;
  flex-direction: row;
}

.cityInput {
  display: flex;
  flex-direction: column;
}

.stateInput {
  display: flex;
  flex-direction: column;
}

.zipInput {
  display: flex;
  flex-direction: column;
}