.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  /* background-color: rgb(170, 19, 19); */
  /* margin-top: 1%; */
  padding: 2%;
  padding-bottom: 0;
}

.navbarLinks {
  background-color: black;
  color: white;
  margin: 15px;
  margin-bottom: none;
  padding: 5px;
  padding-bottom: none;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid grey;
}

.navbarLinks:hover {
  color: red;
  font-style: italic;
}

.mainContent {
  text-align: center;
}

p {
  margin-left: 20%;
  margin-right: 20%;
}

#logo {
  width: 300px;
  height: 192px;
  padding-top: 20px;
}

#doctorPhoto {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

#map {
  height: 50%;
  width: 50%;
  padding: 30px;
}

#directionsButton {
  margin-bottom: 20px;
}

.footer {
  padding: 30px;
}

#testButton {
  margin-left: 10px;
}

.streetMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactPage {
  text-align: center;
}

.documentsPage {
  text-align: center;
}

.landingAndFooter {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityStateZip {
  display: flex;
  flex-direction: row;
}

.cityInput {
  display: flex;
  flex-direction: column;
}

.stateInput {
  display: flex;
  flex-direction: column;
}

.zipInput {
  display: flex;
  flex-direction: column;
}

hr {
  width: 55%;
  margin-top: 0;
}

.servicesPage {
  text-align: center;
}

.services {
  list-style: none;
}

.directionsPage {
  text-align: center;
}

.scalePage {
  text-align: center;
}

.numberScale {
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}

.scaleForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: none;
  margin-bottom: 40px;
}

.questionAndAnswer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}

#scaleTotal {
  width: 11.5%;
}

#scaleBorder {
  border: 1px solid black;
  padding: 1.5%;
  text-align: center;
  margin-top: 2%;
}

textarea {
  font-family:"Times New Roman", Times, serif;
  font-size: 20px;
}

input {
  height: 30px;
  font-size: 1.5em;
}

.scaleHeadings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.individualSituations {
  text-align: left;
  margin-left: 0;
}

.sitting {
  text-align: left;
  margin-left: 0;
}

.watching {
  text-align: left;
  margin-left: 0;
}

.headings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-decoration: underline;
}

.container {
  width: 700px;
}