.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-color: rgb(205, 205, 233); */
  background-color: rgb(106, 106, 94);
  background-color: rgb(192, 168, 137);
  background-color: rgb(70, 74, 75);
  background-color: rgb(226, 240, 254);
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  /* background-color: rgb(170, 19, 19); */
  /* margin-top: 1%; */
  padding: 2%;
  padding-bottom: 0;
}

.navbarLinks {
  background-color: rgb(70, 74, 75);
  color: white;
  margin: 15px;
  margin-bottom: none;
  padding: 5px;
  padding-bottom: none;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 10%;
}

.navbarLinks:hover {
  color: rgb(192, 168, 137);
  font-style: italic;
}

a:hover {
  color: rgb(106, 106, 94);
}

.footer a:hover {
  color: rgb(192, 168, 137);
}

button:hover {
  background-color: rgb(106, 106, 94);
  color: white;
}

button#directionsButton:hover {
  color: white;
  background-color: rgb(106, 106, 94);
}

.mainContent {
  text-align: center;
}

.mainContent h1 {
  color: black;
}

.mainContent h3 {
  margin-bottom: 55px;
}

p {
  margin-left: 20%;
  margin-right: 20%;
}

#logo {
  width: 150px;
  height: 96px;
  padding-top: 20px;
}

#doctorPhoto {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

#map {
  height: 80%;
  width: 80%;
  /* padding: 30px; */
  border: 2px solid rgb(70, 74, 75);
  margin-top: 20px;
  cursor: pointer;
}

#directionsButton {
  margin-bottom: 20px;
  background-color: rgb(192, 168, 137);
  border-radius: 10%;
  margin-top: 20px;
  font-size: 1.2em;
  padding: 6px;
  cursor: pointer;
}

input {
  cursor: pointer;
}

.footer {
  padding: 30px;
  background-color: rgb(70, 74, 75);
  color: white;
}

.footer a {
  color: white;
}

.footer .footerTitle {
  font-size: 2em;
  margin: 10px;
  margin-top: 35px;
}

#logoFooter {
  width: 50px;
  height: 32px;
  padding-top: 32px;
  padding-right: 20px;
}

.footerFormat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testButton {
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgb(192, 168, 137);
  font-size: 1.2em;
  border-radius: 10%;
}

.submitButton {
  background-color: rgb(192, 168, 137);
}

.streetMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactPage {
  text-align: center;
}

.documentsPage {
  text-align: center;
}

.landingAndFooter {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityStateZip {
  display: flex;
  flex-direction: row;
}

.cityInput {
  display: flex;
  flex-direction: column;
}

.stateInput {
  display: flex;
  flex-direction: column;
}

.zipInput {
  display: flex;
  flex-direction: column;
}

hr {
  width: 55%;
  margin-top: 0;
}

.servicesPage {
  text-align: center;
}

.services {
  list-style: none;
}

.directionsPage {
  text-align: center;
}

.scalePage {
  text-align: center;
}

.numberScale {
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}

.scaleForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: none;
  margin-bottom: 40px;
}

.questionAndAnswer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}

#scaleTotal {
  width: 21.5%;
  font-size: 1em;
}

#scaleBorder {
  border: 1px solid black;
  padding: 1.5%;
  text-align: center;
  margin-top: 2%;
}

textarea {
  font-family:"Times New Roman", Times, serif;
  font-size: 20px;
}

input {
  height: 30px;
  font-size: 1.5em;
}

.questionAndAnswer input {
  border-radius: 10%;
}

.scaleHeadings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.individualSituations {
  text-align: left;
  margin-left: 0;
}

.sitting {
  text-align: left;
  margin-left: 0;
}

.watching {
  text-align: left;
  margin-left: 0;
}

.headings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-decoration: underline;
}

.container {
  width: 700px;
}

.addressHeader {
  margin-bottom: 0;
  font-weight: 800;
}

.download {
  margin-bottom: 10px;
}